.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 8px; /* Dot size */
  height: 8px; /* Dot size */
  margin: 0 4px; /* Space between dots */
  border-radius: 50%;
  background-color: #007bff; /* Dot color */
  animation: bounce 0.6s infinite alternate; /* Animation */
}

.dot:nth-child(2) {
  animation-delay: 0.2s; /* Delay for second dot */
}

.dot:nth-child(3) {
  animation-delay: 0.4s; /* Delay for third dot */
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px); /* Bounce height */
  }
}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }